<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiVNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <MultiVNC.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="psexecLoc" serializeAs="String">
                <value>PSTools\PsExec.exe</value>
            </setting>
            <setting name="internalHost" serializeAs="String">
                <value />
            </setting>
            <setting name="hostsFile" serializeAs="String">
                <value>Data\hosts.mvnc</value>
            </setting>
            <setting name="encryptPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="askToLogout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VpnCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VncPanelGroupDisplay" serializeAs="String">
                <value>False</value>
            </setting>
        </MultiVNC.Properties.Settings>
    </userSettings>
</configuration>
